{
  "openapi": "3.1.0",
  "info": {
    "title": "ComfyPeer Control Plane",
    "version": "1.0.0",
    "description": "Sliced PymtHouse Builder API for ComfyPeer: apps, signing, catalog, MCP metadata. Excludes billing/OpenMeter/admin."
  },
  "servers": [
    {
      "url": "https://pymthouse.com",
      "description": "PymtHouse API origin"
    }
  ],
  "paths": {
    "/api/v1/apps/{clientId}": {
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Delete developer app",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get developer app",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Apps"
        ],
        "summary": "Update developer app",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{clientId}/users": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Deactivate provisioned user",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List provisioned users",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Upsert provisioned user",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update provisioned user",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{clientId}/users/{externalUserId}/keys": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Revoke user API key",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Integrator-defined stable user id."
            },
            "required": true,
            "description": "Integrator-defined stable user id.",
            "name": "externalUserId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List user API keys",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Integrator-defined stable user id."
            },
            "required": true,
            "description": "Integrator-defined stable user id.",
            "name": "externalUserId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create user API key",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Integrator-defined stable user id."
            },
            "required": true,
            "description": "Integrator-defined stable user id.",
            "name": "externalUserId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{clientId}/manifest": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "App manifest",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Discovery"
        ],
        "summary": "Update app manifest",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{clientId}/signer/routing": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Signer routing config",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/pipeline-catalog": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Pipeline capability catalog",
        "responses": {
          "200": {
            "description": "Catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{clientId}/oidc/token": {
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "RFC 8693 signer session token exchange",
        "description": "Exchanges a user access JWT (device code / authorization code) or per-app-user API key (`pmth_*`) for a short-lived signer JWT. The `{clientId}` path segment is the public OAuth app client id. Authenticate with the end-user `subject_token`; optional HTTP Basic with the M2M client is supported for server-side callers.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signer session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignerSession"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, grant, target, or unsupported token type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid client credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/apps/{clientId}/users/{externalUserId}/token": {
      "post": {
        "tags": [
          "Credentials"
        ],
        "summary": "Mint programmatic user JWT (M2M)",
        "description": "Confidential client (`m2m_*` + secret) mints a user-scoped access token. Subject-token acquisition strategy for RFC 8693 signer exchange at `POST /api/v1/apps/{clientId}/oidc/token`.",
        "security": [
          {
            "m2mBasic": []
          },
          {
            "bearerUserJwt": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^app_[a-f0-9]+$",
              "description": "Public Builder app client id (`app_\u2026`).",
              "examples": [
                "app_3b386c81a1db1169fd2c3986"
              ]
            },
            "required": true,
            "description": "Public Builder app client id (`app_\u2026`).",
            "name": "clientId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Integrator-defined stable user id."
            },
            "required": true,
            "description": "Integrator-defined stable user id.",
            "name": "externalUserId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProgrammaticUserTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Programmatic user token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProgrammaticTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid scope or request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "401": {
            "description": "M2M authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (scope or cross-app).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          },
          "404": {
            "description": "App or user not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/oidc/token": {
      "post": {
        "skipCompletenessCheck": true,
        "tags": [
          "OIDC"
        ],
        "summary": "OIDC provider token endpoint",
        "description": "Served by oidc-provider at `/api/v1/oidc/token`. Standard OAuth/OIDC grants: `authorization_code`, `refresh_token`, `client_credentials`, device code, and pymthouse-specific exchanges (device approval, gateway session). Signer session exchange uses `POST /api/v1/apps/{clientId}/oidc/token` instead. See OpenID Configuration for the full parameter matrix.",
        "responses": {
          "200": {
            "description": "Token response per OAuth/OIDC."
          },
          "400": {
            "description": "OAuth error."
          }
        }
      }
    },
    "/api/v1/mcp": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Livepeer MCP connect metadata",
        "responses": {
          "200": {
            "description": "MCP metadata"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GenericJsonObject": {
        "type": "object",
        "properties": {},
        "additionalProperties": {
          "nullable": true
        }
      },
      "OAuthError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "OAuth 2.0 error code (RFC 6749 \u00a75.2).",
            "examples": [
              "invalid_request",
              "invalid_client",
              "invalid_scope"
            ]
          },
          "error_description": {
            "type": "string",
            "description": "Human-readable error description."
          },
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Request correlation id for support and audit."
          }
        },
        "required": [
          "error"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Request correlation id for support and audit."
          }
        },
        "required": [
          "status"
        ]
      },
      "SignerSession": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "Short-lived signer JWT (RFC 8693)."
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "scope": {
            "type": "string",
            "minLength": 1,
            "description": "Space-delimited OAuth scopes.",
            "examples": [
              "sign:job"
            ]
          },
          "balanceUsdMicros": {
            "type": "string",
            "description": "PymtHouse extension: remaining balance in USD micros."
          },
          "lifetimeGrantedUsdMicros": {
            "type": "string",
            "description": "PymtHouse extension: lifetime granted balance in USD micros."
          },
          "signer_url": {
            "type": "string",
            "format": "uri",
            "description": "Public remote-signer base URL."
          },
          "discovery_url": {
            "type": "string",
            "format": "uri",
            "description": "Livepeer network discovery URL (not OIDC issuer metadata)."
          },
          "issued_token_type": {
            "type": "string",
            "enum": [
              "urn:ietf:params:oauth:token-type:access_token"
            ],
            "description": "RFC 8693 issued_token_type when sourced from /token."
          },
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Request correlation id for support and audit."
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ]
      },
      "TokenExchangeRequest": {
        "type": "object",
        "properties": {
          "grant_type": {
            "type": "string",
            "enum": [
              "urn:ietf:params:oauth:grant-type:token-exchange"
            ],
            "description": "RFC 8693 token exchange grant type."
          },
          "subject_token": {
            "type": "string",
            "description": "User access JWT, opaque API-key secret, or composite `app_<24hex>_<secret>`."
          },
          "subject_token_type": {
            "type": "string",
            "enum": [
              "urn:ietf:params:oauth:token-type:access_token"
            ],
            "description": "Subject token type for signer session exchange."
          },
          "requested_token_type": {
            "type": "string",
            "enum": [
              "urn:ietf:params:oauth:token-type:access_token"
            ]
          },
          "audience": {
            "type": "string",
            "description": "Must match configured signer audience when provided."
          },
          "resource": {
            "type": "string",
            "description": "Must match configured signer audience when provided."
          }
        },
        "required": [
          "grant_type",
          "subject_token",
          "subject_token_type"
        ]
      },
      "ProgrammaticTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "enum": [
              "Bearer"
            ]
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "scope": {
            "type": "string",
            "minLength": 1,
            "description": "Space-delimited OAuth scopes.",
            "examples": [
              "sign:job"
            ]
          },
          "subject_type": {
            "type": "string",
            "enum": [
              "app_user"
            ]
          },
          "externalUserId": {
            "type": "string"
          },
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Request correlation id for support and audit."
          }
        },
        "required": [
          "access_token",
          "token_type",
          "expires_in",
          "scope"
        ]
      },
      "ProgrammaticUserTokenRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "minLength": 1,
            "description": "Space-delimited OAuth scopes.",
            "examples": [
              "sign:job"
            ]
          }
        }
      },
      "C0ValidateResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "sub": {
                "type": "string"
              }
            },
            "required": [
              "sub"
            ]
          },
          "billing_account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "providerSlug": {
                "type": "string"
              },
              "billingMode": {
                "type": "string",
                "enum": [
                  "delegated",
                  "prepay"
                ]
              }
            },
            "required": [
              "id",
              "providerSlug",
              "billingMode"
            ]
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "quota": {
            "nullable": true
          },
          "subscriptionRef": {
            "type": "string"
          }
        },
        "required": [
          "valid"
        ]
      },
      "C0ValidateRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "key"
        ]
      }
    },
    "securitySchemes": {
      "m2mBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "Confidential M2M client (`m2m_\u2026` + `pmth_cs_\u2026` secret). RFC 6749 client authentication."
      },
      "bearerUserJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Short-lived user access token minted by Builder API or OIDC."
      },
      "adminSession": {
        "type": "http",
        "scheme": "bearer",
        "description": "Dashboard admin session or admin-scoped platform token."
      }
    }
  }
}